body {
  margin: 0;
  color: rgb(22, 22, 22);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  font-style: italic;
  font-family: georgia;
  color: blanchedalmond;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    margin-top: 900px;
    padding: 12px 24px;
    font-size: 100px;
  }

  .quotes {
    position: relative;
    font-size: 40px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    .deleteButton {
      display: none;
      position: absolute;
      top: 80%;
      right: 80%;
      transform: translate(50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }

      .deleteButton {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }

  .nft {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;

    img {
      width: 250px;
      height: 250px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 250px;
      height: 250px;
      font-size: 30px;
      top: 0;
      left: 0;
      background-color: rgba(22, 22, 22, 0.5);
    }

    a {
      color: white;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 9999px;
      width: 24px;
      height: 24px;
      margin: -8px;
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .nftView {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}
